test/emulation/.configured_qemu
*.o.cmd
*.o
*.ko
driver/modules.order
*.ko.cmd
*.mod.c
*~
.*.swp
driver/Module.symvers
*.mod
.vscode
/utils/dma-audit
/utils/minion-dma
/utils/minion-eeprom
/utils/minion-hsrx
/utils/minion-reg
/utils/minion-shift
/utils/minion-temp
/utils/shift-decode
/utils/*.1
/utils/*.gz
*.deb
*.dsc
*.tar.gz
/package
