Source: ont-minion1c-driver
Section: misc
Priority: optional
Maintainer: Oxford Nanopore Technologies <info@nanoporetech.com>

# Having this in its own package allows multiple binary module packages
# to be installed simultaneously (the correct module for the running kernel
# will be used by modprobe)
Package: ont-minion1c-driver-udev
Architecture: all
Depends: ${misc:Depends}
Recommends: ont-minion1c-driver-dkms | ont-minion1c-driver-module
Breaks: ont-minion1c-driver-module (<< 0.5.3)
# for file overwriting to work properly, we need to use real package names
Replaces: ont-minion1c-driver-4.4.38-minit (<< 0.5.3), ont-minion1c-driver-4.4.197-minit (<< 0.5.3), ont-minion1c-driver-dkms (<< 0.5.3)
Description: udev rules for MinION-mk1C acquisition hardware
 These rules direct the udev system to create a ont-minion1c device node and a
 softlink with a more descriptive name when the device-driver detects suitable
 hardware.

Package: ont-minion1c-driver-utils
Section: devel
Architecture: _ARCH_
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: ont-minion1c-driver-dkms, ont-minion1c-driver-udev
Suggests: ont-minion1c-driver-dkms, ont-minion1c-driver-udev
Description: MinION-mk1C acquisition hardware device-driver debug utilities
 Utilities for interacting with the MinION-mk1C firmware and hardware at a
 lower level than is possible working through MinKNOW. You do not need to
 install this package unless you are developing device-drivers or firmware for
 the MinION mk1C.

Package: ont-minion1c-driver-dev
Section: kernel
Architecture: all
Depends: ${misc:Depends}
Recommends: ont-minion1c-driver-dkms
Description: Headers for the MinION-mk1C acquisition-hardware device-driver module
 Contains C/C++ header files needed to develop software that communicates with
 the MinION-mk1C acquisition-hardware device-driver kernel module. You only need
 to install this package if you are developing software that talks to the device
 driver directly. You do not need to install it just to use MinKNOW.

Package: ont-minion1c-driver-dkms
Section: kernel
Architecture: all
# ont-minion1c-driver-udev dependency is a temporary transition helper - MinKNOW Core 4.2 will
# provide an equivalent file, so once that version is everywhere, we can drop this
Depends: ${misc:Depends}, build-essential, dkms, ont-minion1c-fpga (>= _FIRMWARE-VERSION_), ont-minion1c-driver-udev (>= 0.5.3)
Provides: ont-minion1c-driver-module (= _VERSION_)
Conflicts: ont-minion1c-driver-module
Description: MinION-mk1C hardware device-driver kernel module (DKMS)
 This provides the source code for the MinION-mk1C acquisition-hardware
 device-driver kernel module packaged in a way that allows them to be with DKMS.
 Binary device-driver packages are preferred for reasons, but DKMS packages
 provide a way to used the module when a binary package isn't available.

