Source: ont-minion1c-driver
Section: misc
Priority: optional
Maintainer: Oxford Nanopore Technologies <info@nanoporetech.com>

Package: ont-minion1c-driver-utils
Architecture: _ARCH_
Depends: ${misc:Depends}
Recommends: ont-minion1c-driver-dkms
Suggests: ont-minion1c-driver-dkms
Description: MinIT-1C acquisition hardware device-driver debug utilities

Package: ont-minion1c-driver-dev
Section: kernel
Architecture: all
Depends: ${misc:Depends}
Recommends: ont-minion1c-driver-dkms
Description: Headers for the MinIT-1C acquisition-hardware device-driver kernel module

Package: ont-minion1c-driver-dkms
Section: kernel
Architecture: all
Depends: ${misc:Depends}, build-essential, dkms
Provides: ont-minion1c-driver-module (= _VERSION_)
Description: MinIT-1C hardware device-driver kernel module (DKMS)
 This provides the source code for the MinIT-1C acquisition-hardware
 device-driver kernel module to be built with dkms.

